<h2>Welcome to {{name}} Page</h2>

<form action="/add-info" method="POST">
  <label for="age">Add Age</label>
  <input type="number" name="age">
  <br>
  <label for="description">Add Description</label>
  <input type="text" name="description">
  <br>
  <label for="likes-potatoes">Check if likes potatoes</label>
  <input type="checkbox" name="likes-potatoes">
  <br>
  <button type="submit"> ADD INFO </button>
</form>