<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queries Lecture</title>
</head>
<body>
  <nav>
    <p>My Navbar</p>
    <a href="/">Go to Home</a>
    <a href="/dog/chancho">Go to Chancho's Page</a>
    <a href="/dog/buddy">Go to Buddy's Page</a>
    <a href="/dog/layka">Go to Layka's Page</a>
    
    <form action="/search" method="GET">
      <label for="breed">Search by Breed</label>
      <input type="text" name="breed">
      <button type="submit">Search!</button>
    </form>
  
  </nav>
  <hr>
  <div>
    {{{body}}}
  </div>
</body>
</html>